/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 100 [Id]
      ,[BarSeriesId]
      ,[Open]
      ,[High]
      ,[Low]
      ,[Close]
      ,[Volume]
      ,[DT]
  FROM [TimeSeries01].[dbo].[Bars]
  ORDER BY id DESC
