/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/

SELECT 'EventLog' [DB]
USE [EventLog]
SELECT es.Code, Count(DT) AS Cnt,  Min(DT) [Min DT], Max(DT) [Max DT], DATEDIFF(day, Min(DT), Max(DT)) +1 [DAYS]
FROM EventLogItems eis
INNER JOIN EventLogs es ON eis.EventLogID = es.EventLogID
GROUP BY es.EventLogID, es.Code
GO

SELECT 'EventLog1' [DB]
USE [EventLog1]
SELECT es.Code, Count(DT) AS Cnt, Min(DT) [Min DT], Max(DT) [Max DT], DATEDIFF(day, Min(DT), Max(DT)) +1  [DAYS]
FROM EventLogItems eis
INNER JOIN EventLogs es ON eis.EventLogID = es.EventLogID
GROUP BY es.EventLogID, es.Code
GO

SELECT 'EvlContext'[DB]
USE [EvlContext]
SELECT es.Code, Count(DT) AS Cnt, Min(DT) [Min DT], Max(DT) [Max DT], DATEDIFF(day, Min(DT), Max(DT)) +1 [DAYS]
FROM EventLogItems eis
INNER JOIN EventLogs es ON eis.EventLogID = es.EventLogID
GROUP BY es.EventLogID, es.Code
GO


