/****** Script for SelectTopNRows command from SSMS  ******/
use EventLogFinTr
SELECT Count(*) As Count
FROM [EventLogFinTr].[dbo].[EventLogItems]
go
SELECT TOP 10000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [EventLogFinTr].[dbo].[EventLogItems]
  order by [EventLogItemID] desc
  go
