Use [EventLogOpTr]

Select Count(*)
FROM EventLogItems
GO

SELECT TOP 10000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [dbo].[EventLogItems]
  order by eventlogitemid desc
  go