/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 5000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [EventLog].[dbo].[EventLogItems]
  Where [Entity] Like '%TimeSeries%'
  order by eventlogitemid desc
  go
