/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [EventLog].[dbo].[EventLogItems]
  order by [EventLogItemID] desc
  go
