/****** Script for SelectTopNRows command from SSMS  ******/
Use [EventLog]
Select Count(*)
FROM EventLogItems
GO

SELECT TOP 5000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [dbo].[EventLogItems]
  order by eventlogitemid desc
  go
