/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 5000 [EventLogItemID]
      ,[DT]
      ,[ResultCode]
      ,[Subject]
      ,[Source]
      ,[Entity]
      ,[Operation]
      ,[Description]
      ,[Object]
      ,[Index]
      ,[EventLogID]
  FROM [EvlContext].[dbo].[EventLogItems]
  order by [Index]