/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Key]
      ,[DateTime]
      ,[Source]
      ,[ObjType]
      ,[Operation]
      ,[ObjStr]
      ,[Message]
      ,[SourceExc]
      ,[ExcType]
      ,[TargetSite]
  FROM [DbTrade2].[dbo].[GSExceptions]
  order by Id Desc
  go
