/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
Use DbTrade2

Select Count(*) as OrdersCount
From Orders
Go

SELECT TOP 5000 [Id]
      ,[Key]
      ,[Number]
      ,[OrderKey]
      ,[StrategyKey]
      ,[Status]
      ,[Operation]
      ,[OrderType]
      ,[Quantity]
      ,[Rest]
      ,[StopPrice]
      ,[LimitPrice]
      ,[FilledPrice]
      ,[TrMessage]
      ,[StrategyId]
      ,[Created]
      ,[Modified]
  FROM [DbTrade2].[dbo].[Orders]
  order by Id desc