<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="TickModel" connectionString="metadata=res://*/TickModel.csdl|res://*/TickModel.ssdl|res://*/TickModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=P5Ad2\;Initial Catalog=T;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FT1202" connectionString="metadata=res://*/FT1202.Model1.csdl|res://*/FT1202.Model1.ssdl|res://*/FT1202.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=P5AD2;Initial Catalog=FT1202;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FT1203_Entities" connectionString="metadata=res://*/FT1203.M1203_01.csdl|res://*/FT1203.M1203_01.ssdl|res://*/FT1203.M1203_01.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=p5ad2;Initial Catalog=FT1203;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FT1203" connectionString="metadata=res://*/FT1203.M1203.csdl|res://*/FT1203.M1203.ssdl|res://*/FT1203.M1203.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=p5ad2;Initial Catalog=FT1203;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="M1203" connectionString="metadata=res://*/FT1203.M1203.csdl|res://*/FT1203.M1203.ssdl|res://*/FT1203.M1203.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=p5ad2;Initial Catalog=FT1203;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>