<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-GS.Trade.TimeSeries.Mvc01-20140422113028;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-GS.Trade.TimeSeries.Mvc01-20140422113028.mdf" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-GS.Trade.TimeSeries.Mvc01-20140422113028.mdf;Initial Catalog=aspnet-GS.Trade.TimeSeries.Mvc01-20140422113028;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TimeSeriesImage01" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TimeSeriesImage01;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TimeSeries01" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TimeSeries01;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>